<!-- Button trigger modal -->
<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCreateMessage">
  <i class="bi bi-envelope-plus"> Message</i>
</button>

<table class="table table-striped w-auto">
  <thead>
    <tr>
      <th class="w-75">Message</th>
      <th>Posted By/At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<!-- Modal : Create Message-->
<div class="modal fade" id="modalCreateMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="createMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="createMessageModalLabel">New Message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="formCreateMessage">
          <div class="mb-3">
            <label class="form-label"> Title</label>
            <input type="text" class="form-control" name="title" required minlength="3">
          </div>
          <div class="mb-3">
            <label class="form-label">Contents </label>
            <textarea class=" form-control" name="contents" rows="10" minlength="5" required></textarea>
          </div>
          <button type="submit" class=" btn btn-primary"> Create</button>
        </form>
      </div>

    </div>
  </div>
</div>

<!-- Modal : Edit Message-->
<div class="modal fade" id="modalEditMessage" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="editMessageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editMessageModalLabel">Update Message</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form name="formEditMessage">
          <div class="mb-3">
            <label class="form-label"> Title</label>
            <input type="text" class="form-control" name="title" required minlength="3">
          </div>
          <div class="mb-3">
            <label class="form-label">Contents </label>
            <textarea class=" form-control" name="contents" rows="10" minlength="5" required></textarea>
          </div>
          <div class="mb-3">
            <label class="form-label"> Posted By/At</label>
            <input type="text" class="form-control" name="postedBy" readonly>
          </div>
          <button type="submit" class=" btn btn-primary">Update</button>
        </form>
      </div>

    </div>
  </div>
</div>